@charset "utf-8";

header img{
	display: none;
}

#menu{
	display: block;
	background-color: blue;
	height: 50px;
}
main{ width: 80%; }
#links{
	display: block;
	background-color: black;
	width: 20%;
	height: 300px;
}